body {
    font-family: Arial, sans-serif;
}

#map {
    height: 600px;
    width: 100%;
}

#search-bar {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

